body{
    min-width:1220px;
    width: auto !important;
}
.pure-g > div {
    box-sizing: border-box;
    padding: 0.5em;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.boxed-list > li {
    border-radius: 4px;
    border: 1px solid gray;
}
.max-height-scroll {
    overflow-y: auto;
    max-height: 450px;
}
.button-xsmall {
    font-size: 70%;
}
.button-small {
    font-size: 85%;
}
.button-large {
    font-size: 110%;
}
.button-xlarge {
    font-size: 125%;
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    color: white;
    font-weight: bold;
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.pure-button {
    vertical-align: bottom;
}
.button-trash {
    background: rgb(202, 60, 60);
    color: white;
    font-size: 70%;
    float: right;
    border-radius: 4px;
}
.dark-class {
    background-color: rgba(202, 60, 60, 0.4);;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}
.dark-class > * {
    text-align: center;
    color: darkred;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
.note {
    font-size: 70%;
    color: grey;
}
.timer {
    float: right;
    font-size: 70%;
    color: rgba(202, 60, 60, 0.4);
}
.event[data-waiting="1"] {
    background-color: rgb(223, 117, 20);
    border-color: rgb(223, 117, 20);
    color: white;
}
.event[data-priority="-1"] {
    background-color: rgb(202, 60, 60);
    border-color: rgb(202, 60, 60);
    color: white;
}
.current-event {
    background-color: rgb(28, 184, 65);
    border-color: rgb(28, 184, 65) !important;
}
.event > span {
    font-size: 70%;
}
.current-event > span {
    font-size: 70%;
}
